{% extends "news/base.html" %}


{% block title %}{{ category|default:"Articles" }} - {{ block.super }}{% endblock %}


{% block extrahead %}
  {{ block.super }}

  {% if category %}
    {% if category and not category.is_indexable %}<meta name="robots" content="noindex" />{% endif %}
    {% if category.meta_description %}<meta name="description" content="{{ category.meta_description }}" />{% endif %}
    <link rel="alternate" href="{% url "news:article_feed" category.slug %}" type="application/atom+xml" title="Latest {{ category }}" />
  {% else %}
    <link rel="alternate" href="{% url "news:article_feed" %}" type="application/atom+xml" title="Latest news articles" />
  {% endif %}

  {% if page_obj.paginator.num_pages > 1 %}{% spaceless %}
    {% if page_obj.has_previous %}
      {% if category %}
        <link rel="prev" href="{% if page_obj.previous_page_number == 1 %}{% url "news:article_list" slug=category.slug %}{% else %}{% url "news:article_list" slug=category.slug page=page_obj.previous_page_number %}{% endif %}" />
      {% else %}
        <link rel="prev" href="{% if page_obj.previous_page_number == 1 %}{% url "news:article_list" %}{% else %}{% url "news:article_list" page=page_obj.previous_page_number %}{% endif %}" />
      {% endif %}
    {% endif %}
    {% if page_obj.has_next %}
      {% if category %}
        <link rel="next" href="{% url "news:article_list" slug=category.slug page=page_obj.next_page_number %}" />
      {% else %}
        <link rel="next" href="{% url "news:article_list" page=page_obj.next_page_number %}" />
      {% endif %}
    {% endif %}
  {% endspaceless %}{% endif %}
{% endblock %}


{% block content %}
  <h1>{{ category|default:"News" }}</h1>
  {% if category.featured_content %}<div>{{ category.featured_content }}</div>{% endif %}
  {% if category.content %}<div>{{ category.content|safe }}</div>{% endif %}

  {% for article in article_list %}
  {% if forloop.first %}<ul>{% endif %}
  <li>
    <a href="{{ article.get_absolute_url }}">
      {{ article.publish_at }}
      {{ article }}
      {{ article.summary }}
    </a>
  </li>
  {% if forloop.last %}</ul>{% endif %}
  {% empty %}
    <p>No news to display.</p>
  {% endfor %}

  {% if page_obj.paginator.num_pages > 1 %}
  <div>
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.

    {% if page_obj.has_previous %}
      {% if category %}
        <a href="{% if page_obj.previous_page_number == 1 %}{% url "news:article_list" slug=category.slug %}{% else %}{% url "news:article_list" slug=category.slug page=page_obj.previous_page_number %}{% endif %}" rel="previous">previous</a>
      {% else %}
        <a href="{% if page_obj.previous_page_number == 1 %}{% url "news:article_list" %}{% else %}{% url "news:article_list" page=page_obj.previous_page_number %}{% endif %}" rel="previous">previous</a>
      {% endif %}
    {% endif %}

    {% if page_obj.has_next %}
      {% if category %}
        <a href="{% url "news:article_list" slug=category.slug page=page_obj.next_page_number %}" rel="next">next</a>
      {% else %}
        <a href="{% url "news:article_list" page=page_obj.next_page_number %}" rel="next">next</a>
      {% endif %}
    {% endif %}

  </div>
  {% endif %}

{% endblock %}
