{% extends "news/base.html" %}


{% block title %}{{ article.title }} - {{ block.super }}{% endblock %}


{% block extrahead %}
  {{ block.super }}
  {% if article and not article.is_indexable %}<meta name="robots" content="noindex" />{% endif %}
  {% if article.meta_description %}<meta name="description" content="{{ article.meta_description }}" />{% endif %}
{% endblock %}


{% block content %}

  <h1>{{ article.heading }}</h1>
  <h2>{{ article.publish_at|date:"l jS F Y" }}</h2>

  {% if article.featured_content %}<div>{{ article.featured_content }}</div>{% endif %}
  {% if article.content %}<div>{{ article.content|safe }}</div>{% endif %}

{% endblock %}
